html,
body {
    height: 100%;
}

body {
    background-image: url('./images/gameboy_body.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px;
    /* This centers our sketch horizontally. */
    justify-content: center;
    display: flex;
    overflow: hidden;
}

img.arrow {
    position: fixed;
    width: 70px;
    height: 70px;
}

img.arrow.up {
    bottom: calc(50vh - 230px);
    left: calc(50vw - 120px);
}

img.arrow.down {
    bottom: calc(50vh - 310px);
    left: calc(50vw - 120px);
}

img.arrow.left {
    bottom: calc(50vh - 270px);
    left: calc(50vw - 195px);
}

img.arrow.right {
    bottom: calc(50vh - 270px);
    left: calc(50vw - 45px);
}

img.master {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: calc(50vh - 280px);
    left: calc(50vw + 90px);
}


/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.info-label {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    color: white;
    background-color: #2196F3;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
